@media screen and (min-width: 768px) and (max-width: 1200px),
  screen and (max-width: 896px) and (min-aspect-ratio: 13/9) {
  .Footer {
    align-items: initial;

    margin-top: 50px;
  }

  .Footer_nav {
    flex-direction: column;

    width: 100%;
    padding: 40px 16px 32px 16px;
  }

  .Footer_nav a {
    margin-right: 0;
  }

  .Footer_nav .Footer_logoLink {
    width: 100px;
    margin-right: 0;
    margin-bottom: 34px;
  }

  .Footer_linksMobile span {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;

    float: left;

    width: 50%;
    margin: 0 0 16px 0;

    cursor: pointer;
  }

  .Footer_links a {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;

    float: left;

    margin: 0 0 16px 0;
  }

  .Footer_privacy {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;

    display: flex;

    width: initial;
    margin: 32px 16px 19px;

    color: var(--dark-50);
  }

  .Footer_copyright {
    margin: 0;
  }

  .Footer_address {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    width: initial;
    margin: 0 48px;
  }

  .Footer_descriptionBlock {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
    padding: 0 16px 40px 16px;
  }

  .Footer_checkbox {
    width: 60px;
  }

  .Footer_nav {
    padding: 40px 48px 32px 48px;
  }

  .Footer_privacy {
    margin: 32px 48px 19px;
  }

  .Footer_descriptionBlock {
    padding: 0 48px 40px 48px;
  }

  .Footer_links {
    display: flex;
    justify-content: space-between;
  }

  .Footer_nav .Footer_logoLink svg {
    width: 70px;
  }
}
