.Button {
  background: var(--bright);
  padding: 12px 52px;
  color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--bright);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.Button__outlined {
  background: transparent;
  color: var(--text-white);
}

.Button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.Button__primary {
  background-color: var(--primary);
  color: var(--text-white);
}

.Button__primary:hover {
  background-color: var(--primary-70);
}

.Button__primary:active {
  background-color: var(--primary);
}

.Button__primary:disabled {
  opacity: 0.5;
  cursor: initial;
}

.Button__secondary {
  border: 2px solid var(--primary);
  padding: 10px 18px;
  border-radius: 10px;
  white-space: nowrap;
}

.Button__secondary:hover {
  background-color: var(--primary-70);
  border: none;
  padding: 12px 20px;
  color: var(--text-white);
}

.Button__secondary:active {
  background-color: var(--primary);
  color: var(--text-white);
  padding: 12px 20px;
  border: none;
}

.Button__secondary:disabled {
  opacity: 0.5;
  cursor: initial;
}

.Button__ghost {
  color: var(--primary);
  background-color: var(--bright);
  border-color: var(--bright);
}
