.EtzMobileSection {
  padding: 45px 0;

  background-image: url("../../assets/pattern-2.svg");
  background-repeat: no-repeat;
  background-position: 0;
}

.EtzMobileSection_picture {
  position: relative;
  top: -325px;

  flex: 1;
}

.EtzMobileSection_mobile {
  position: absolute;

  width: 354px;
}

.EtzMobileSection_mobile__front {
  top: 0;
  right: 145px;
}

.EtzMobileSection_mobile__buy {
  top: 70px;
  right: -100px;
}

.EtzMobileSection_coin {
  position: absolute;
  z-index: 10;
  right: 0;

  width: 600px;
}

.EtzMobileSection_block {
  display: flex;

  height: 100%;
}

.EtzMobileSection_title {
  width: 315px;
}

.EtzMobileSection_text {
  padding: 30px 0;
}

.EtzMobileSection_button {
  display: flex;
  align-items: center;

  margin-top: 36px;
}

.EtzMobileSection_arrow {
  padding: 1px 0 0 16px;
}

.EtzMobileSection_description {
  width: 540px;
}
