.EtzMobileSection {
  min-height: 649px;
  padding: 320px 0;
}

.EtzMobileSection_picture {
  position: relative;
  /* top: -325px; */

  flex: 1;
}

.EtzMobileSection_mobile {
  position: absolute;

  width: 354px;
}

.EtzMobileSection_mobile__front {
  top: -155px;
  right: 119px;

  transform: scale(1.6);
}

.EtzMobileSection_mobile__buy {
  top: -6px;
  right: -266px;

  transform: scale(1.6);
}

.EtzMobileSection_coin {
  position: absolute;
  z-index: 10;
  top: -139px;
  right: -39px;

  width: 600px;

  transform: scale(1.5);
}

.EtzMobileSection_block {
  position: relative;

  display: flex;

  height: 100%;
}

.EtzMobileSection_title {
  width: 315px;
}

.EtzMobileSection_text {
  padding: 30px 0;
}

.EtzMobileSection_button {
  display: flex;
  align-items: center;

  margin-top: 36px;
}

.EtzMobileSection_arrow {
  padding: 1px 0 0 16px;
}

.EtzMobileSection_description {
  width: 540px;
}

.EtzMobileSection_pattern {
  position: absolute;
  top: -213px;
  right: -330px;
}
