.FAQSection {
  box-sizing: content-box;
  height: 100%;
  padding: 128px 0;
}

.FAQSection_title {
  text-align: center;

  color: var(--secondary);
}

.FAQSection_subtitle {
  text-align: center;
}

.FAQSection_accordionBlock {
  display: flex;
  flex-direction: column;
}

.FAQSection_accordion {
  position: relative;

  flex: 1;

  margin-bottom: 32px;

  cursor: pointer;
  transition: all 400ms ease;

  border-radius: 20px;
  background: var(--primary-05);
}

.FAQSection_accordion__while {
  animation: dark-to-light 1s ease-out forwards;
}

.FAQSection_accordion__dark {
  animation: light-to-dark 1s ease-out forwards;
}

.FAQSection_accordionSummary {
  display: flex;
  justify-content: space-between;

  padding: 23px 41px;

  color: var(--primary);
}

.FAQSection_accordionSummary img {
  transition: transform 300ms ease;
}

.FAQSection_accordionSummary__open img {
  transform: scale(-1, -1);
}

.FAQSection_accordion__slideUp {
  animation: slide-up 1s ease forwards;
}

.FAQSection_accordion__slideDown {
  animation: slide-down 1s ease forwards;
}

.FAQSection_accordionDetails {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;

  max-height: 0;
  padding: 0;
}

.FAQSection_accordionDetailsItem {
  flex-basis: 100%;
  flex-grow: 0;

  max-width: 100%;
  margin-bottom: 24px;

  transition: all 100ms ease-in-out;
}

.FAQSection_accordionDetailsItem__50 {
  flex-basis: 50%;
  flex-grow: 0;

  max-width: 50%;
}

.FAQSection_accordionDetailsTitle {
  display: block;
}

.FAQSection_accordionDetailsDescription {
  color: var(--dark-50);
}

.FAQSection_arrowIcon {
  align-self: center;

  width: 14px;
  height: 10px;
}
