<article
  class="ContactUsSection __sidePadding __section"
  id="contact-us"
  data-name="Section">
  <div class="__container">
    <section class="ContactUsSection_card">
      <div class="ContactUsSection_formBlock">
        <span class="ContactUsSection_title __heading-1"
          >Join the Waitlist</span
        >
        <span class="ContactUsSection_subtitle __subtitle-1"
          >Fill out this form and we will get in touch with you</span
        >

        <div class="ContactUsSection_form" data-name="ContactUsForm">
          <div
            class="ContactUsSection_input__half ContactUsSection_input__left __inputWrapper"
            data-name="ContactUsInputName">
            <input placeholder="Name*" name="name" />
          </div>
          <div
            class="ContactUsSection_input__half ContactUsSection_input__right __inputWrapper">
            <input placeholder="Company / Position" name="companyPosition" />
          </div>
          <div
            class="ContactUsSection_input__half ContactUsSection_input__left __inputWrapper"
            data-name="ContactUsInputEmail">
            <input placeholder="Email*" name="email" type="email" />
          </div>
          <div
            class="ContactUsSection_input__half ContactUsSection_input__right __inputWrapper"
            data-name="ContactUsInputPhone">
            <input placeholder="Phone Number" name="phone" type="tel" />
          </div>
          <div class="ContactUsSection_textarea __inputWrapper">
            <textarea
              placeholder="I would like to discuss..."
              name="note"></textarea>
          </div>

          <div class="ContactUsSection_formFooter">
            <div class="ContactUsSection_formConfirmBlock">
              <input
                type="checkbox"
                class="ContactUsSection_checkbox"
                id="check"
                name="check"
                data-name="ContactUsInputCheck" />
              <label for="check"></label>
              <span class="ContactUsSection_rules __caption-1">
                Yes, I'd like ETZ to contact me
              </span>
            </div>
            <div class="ContactUsSection_formButtonBlock">
              <button
                class="Button Button__outlined ContactUsSection_submit"
                data-name="ContactUsInputSubmit">
                <span class="Button_text">Submit</span
                ><img
                  class="Button_loader"
                  src="assets/white_loader_anim.svg" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="ContactUsSection_peopleImgBlock">
        <img src="assets/people.png" class="ContactUsSection_peopleImg" />
      </div>
    </section>
  </div>
</article>
