<div class="Loader" name-loader>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="221"
    height="80"
    viewBox="0 0 221 80"
    fill="none"
    style="background: rgba(255, 255, 255, 0)">
    <style>
      @keyframes ru9xmp2qqktjycx5tdpmqj5w_o {
        0% {
          animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);

          opacity: 0.2;
        }
        33.333% {
          opacity: 1;
        }
        100% {
          opacity: 0.2;
        }
      }
      @keyframes xn5023x6z2ik80bv57t62jba_o {
        0% {
          animation-timing-function: cubic-bezier(0.3, 0.5, 0.6, 1);

          opacity: 0.6;
        }
        16.667% {
          opacity: 1;
        }
        83.333% {
          animation-timing-function: cubic-bezier(0.4, 0, 0.7, 0.5);

          opacity: 0.2;
        }
        100% {
          opacity: 0.6;
        }
      }
      @keyframes ig9ptif0a85me9jsd911w5t4_o {
        0% {
          opacity: 1;
        }
        66.667% {
          animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);

          opacity: 0.2;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
    <path
      d="M199.4 11.1c4.3-4.8 9.8-4.6 16.7-4.3c1.7 0 3.4 .1 5.2 .1l-52 61.7c-4.4 4.9-10.1 4.7-17.2 4.5c-1.5 0-3-0.1-4.7-0.1Zm-44.8 11c0-8.4 6.8-15.2 15.2-15.2h19.1c0 8.4-6.8 15.2-15.2 15.2Zm24.7 50.7c0-8.4 6.8-15.2 15.2-15.2h19c0 8.4-6.7 15.2-15.1 15.2Z"
      fill="#fff"
      fill-rule="evenodd"
      opacity=".2"
      style="animation: 1.2s linear infinite both ru9xmp2qqktjycx5tdpmqj5w_o" />
    <path
      d="M99.1 6.9c-8.4 0-15.2 6.8-15.2 15.2h48c8.3 0 15.1-6.8 15.1-15.2Zm11.9 55.2c-2.2 8.1-10.5 12.9-18.6 10.7l7.8-29.3c2.2-8.1 10.5-12.9 18.6-10.7Z"
      fill="#fff"
      fill-rule="evenodd"
      opacity=".6"
      style="animation: 1.2s linear infinite both xn5023x6z2ik80bv57t62jba_o" />
    <path
      d="M39.1 6.9c-8.4 0-15.1 6.8-15.1 15.2h37c8.3 0 15.1-6.8 15.1-15.2Zm-37.4 40.6c0-8.5 6.7-15.3 15.1-15.3h38.1c0 8.4-6.8 15.3-15.2 15.3Zm8.9 25.3c0-8.4 6.7-15.2 15.1-15.2h37.4c0 8.4-6.8 15.2-15.1 15.2Z"
      fill="#fff"
      fill-rule="evenodd"
      style="animation: 1.2s linear infinite both ig9ptif0a85me9jsd911w5t4_o" />
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1732 774"
    fill="none"
    style="background: 0 0"
    class="Loader_leaves__svg">
    <style>
      @keyframes a0_o {
        0% {
          animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);

          opacity: 1;
        }
        50% {
          animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);

          opacity: 0.2;
        }
        to {
          opacity: 1;
        }
      }
    </style>
    <path
      d="M1427.8 343.6h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 0.13s infinite both a0_o" />
    <path
      d="M740.6 343.6h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear infinite both a0_o" />
    <path
      d="M1084.2 687.2h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 1.13s infinite both a0_o" />
    <path
      d="M1084.2 171.8h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 1.77s infinite both a0_o" />
    <path
      d="M1427.8 687.2h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 2.27s infinite both a0_o" />
    <path
      d="M740.6 687.2h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 0.57s infinite both a0_o" />
    <path
      d="M1427.8 171.8h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 1.17s infinite both a0_o" />
    <path
      d="M912 515.4h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 4.37s infinite both a0_o" />
    <path
      d="M1256 343.6h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 3.13s infinite both a0_o" />
    <path
      d="M912.4 257.7h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 3.57s infinite both a0_o" />
    <path
      d="M1256 601.3h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 2.77s infinite both a0_o" />
    <path
      d="M1599.6 601.3h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 0.33s infinite both a0_o" />
    <path
      d="M740.6 601.3h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 1.57s infinite both a0_o" />
    <path
      d="M1256 343.6h-85.9c-47.4 0-85.9 38.5-85.9 85.9h85.9c47.4 0 85.9-38.5 85.9-85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 0.67s infinite both a0_o" />
    <path
      d="M1599.6 429.5h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 3.13s infinite both a0_o" />
    <path
      d="M912.4 429.5h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 1.63s infinite both a0_o" />
    <path
      d="M1256 773.1h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 2.47s infinite both a0_o" />
    <path
      d="M1256 85.9h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 4.8s infinite both a0_o" />
    <path
      d="M1599.6 773.1h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 3.63s infinite both a0_o" />
    <path
      d="M912.4 773.1h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 3.13s infinite both a0_o" />
    <path
      d="M1256 343.6h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 2.73s infinite both a0_o" />
    <path
      d="M1084.2 687.2h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 0.37s infinite both a0_o" />
    <path
      d="M1084.2 171.8h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 0.93s infinite both a0_o" />
    <path
      d="M1427.8 687.2h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 1.43s infinite both a0_o" />
    <path
      d="M1256 257.7h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 2.6s infinite both a0_o" />
    <path
      d="M740.6 687.2h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 3.53s infinite both a0_o" />
    <path
      d="M39.8 599.9h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 5.7s infinite both a0_o" />
    <path
      d="M740.6 85.9h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 0.67s infinite both a0_o" />
    <path
      d="M1256 85.9h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 2.47s infinite both a0_o" />
    <path
      d="M568.8 257.7h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 3.43s infinite both a0_o" />
    <path
      d="M912.4 601.3h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 1.17s infinite both a0_o" />
    <path
      d="M1256 601.3h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 1.63s infinite both a0_o" />
    <path
      d="M740.6 601.3h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 2.4s infinite both a0_o" />
    <path
      d="M1427.8 171.8h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 0.3s infinite both a0_o" />
    <path
      d="M397 687.5h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.4-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 0.87s infinite both a0_o" />
    <path
      d="M1427.8 515.4h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#0020e1"
      fill-opacity=".07"
      transform="translate(132)"
      style="animation: 2s linear 3.33s infinite both a0_o" />
    <path
      d="M1084.2 343.6h-85.9c-47.4 0-85.9-38.5-85.9-85.9h85.9c47.4 0 85.9 38.5 85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 0.07s infinite both a0_o" />
    <path
      d="M1256 343.6h85.9c47.4 0 85.9 38.5 85.9 85.9h-85.9c-47.4 0-85.9-38.5-85.9-85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 0.47s infinite both a0_o" />
    <path
      d="M912.4 773.1h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 2.57s infinite both a0_o" />
    <path
      d="M912.4 257.7h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 0.67s infinite both a0_o" />
    <path
      d="M1256 773.1h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 2.37s infinite both a0_o" />
    <path
      d="M568.8 773.1h85.9c47.4 0 85.9-38.5 85.9-85.9h-85.9c-47.4 0-85.9 38.5-85.9 85.9z"
      fill="#acbaff"
      fill-opacity=".1"
      transform="translate(132)"
      style="animation: 2s linear 0.2s infinite both a0_o" />
  </svg>
</div>
