<div class="Loader" name-loader>
  <lottie-player
    src="etz_loadergif.json"
    class="Loader_logo"
    background="transparent"
    speed="1"
    loop
    autoplay></lottie-player>

  <lottie-player
    src="/leaves/Leaves_mob.json"
    class="Loader_leaves Loader_leaves__mobile"
    background="transparent"
    speed="1"
    loop
    autoplay></lottie-player>

  <lottie-player
    src="/leaves/Leaves_web.json"
    class="Loader_leaves Loader_leaves__web"
    background="transparent"
    speed="1"
    loop
    autoplay></lottie-player>
</div>
