<article
  class="SupportedCryptoSection __sidePadding __section"
  id="crypto"
  data-name="Section">
  <div class="SupportedCryptoSection_container __container">
    <span class="SupportedCryptoSection_title __subtitle-2">
      Supported cryptos
    </span>
    <h2 class="SupportedCryptoSection_subtitle">Investment Options</h2>
    <!-- <section class="SupportedCryptoSection_searchBlock">
      <div class="SupportedCryptoSection_search">
        <input
          class="SupportedCryptoSection_input __heading-1"
          data-name="SupportedCryptoSearchInput"
          placeholder="Search" />
        <img
          class="SupportedCryptoSection_exit"
          data-name="SupportedCryptoSearchClear"
          src="assets/exit.svg" />
      </div>
    </section> -->
    <section
      class="SupportedCryptoSection_table"
      data-name="SupportedCryptoTable"></section>
    <!-- <section
      class="SupportedCryptoSection_buttonContainer"
      data-name="SupportedCryptoPagination"></section> -->
  </div>
</article>
