<article
  class="SupportedCryptoSection section_third __sidePadding __section"
  id="employers">
  <div class="SupportedCryptoSection_container __container">
    <span class="SupportedCryptoSection_title __subtitle-2">
      Supported crypto
    </span>
    <h2 class="SupportedCryptoSection_subtitle">50+ Crypto Coins</h2>
    <section class="SupportedCryptoSection_searchBlock">
      <div class="SupportedCryptoSection_search">
        <input
          class="SupportedCryptoSection_input __heading-1"
          placeholder="Search" />
        <img class="SupportedCryptoSection_exit" src="assets/exit.svg" />
      </div>
    </section>
    <section
      class="SupportedCryptoSection_table"
      data-name="SupportedCryptoTable"></section>
    <section
      class="SupportedCryptoSection_buttonContainer"
      data-name="SupportedCryptoPagination"></section>
  </div>
</article>
