<article
  class="SupportedCryptoSection __sidePadding __section"
  id="crypto"
  data-name="Section">
  <div class="SupportedCryptoSection_container __container">
    <span class="SupportedCryptoSection_title __subtitle-2">
      Supported Digital Assets
    </span>
    <h2 class="SupportedCryptoSection_subtitle">Investment Options</h2>
    <!-- <section class="SupportedCryptoSection_searchBlock">
      <div class="SupportedCryptoSection_search">
        <input
          class="SupportedCryptoSection_input __heading-1"
          data-name="SupportedCryptoSearchInput"
          placeholder="Search" />
        <img
          class="SupportedCryptoSection_exit"
          data-name="SupportedCryptoSearchClear"
          src="assets/exit.svg" />
      </div>
    </section> -->
    <section
      class="SupportedCryptoSection_table"
      data-name="SupportedCryptoTable">
      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">1</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/btc_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Bitcoin</span>
        <span class="SupportedCryptoSection_tagCoin">BTC</span>
      </div>
      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">2</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/eth_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Ethereum</span>
        <span class="SupportedCryptoSection_tagCoin">ETH</span>
      </div>
      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">3</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/link_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Chainlink</span>
        <span class="SupportedCryptoSection_tagCoin">LINK</span>
      </div>
      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">4</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/ada_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Cardano</span>
        <span class="SupportedCryptoSection_tagCoin">ADA</span>
      </div>
      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">5</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/doge_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Dogecoin</span>
        <span class="SupportedCryptoSection_tagCoin">DOGE</span>
      </div>
      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">6</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/ltc_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Litecoin</span>
        <span class="SupportedCryptoSection_tagCoin">LTC</span>
      </div>

      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">7</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/xlm_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Stellar</span>
        <span class="SupportedCryptoSection_tagCoin">XLM</span>
      </div>

      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">8</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/sol_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Solana</span>
        <span class="SupportedCryptoSection_tagCoin">SOL</span>
      </div>

      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">9</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/ape_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Apecoin</span>
        <span class="SupportedCryptoSection_tagCoin">APE</span>
      </div>

      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">10</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/bch_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Bitcoin Cash</span>
        <span class="SupportedCryptoSection_tagCoin">BCH</span>
      </div>

      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">11</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/mana_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Decentraland</span>
        <span class="SupportedCryptoSection_tagCoin">MANA</span>
      </div>

      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">12</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/dot_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Polkadot</span>
        <span class="SupportedCryptoSection_tagCoin">DOT</span>
      </div>

      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">13</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/matic_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Polygon</span>
        <span class="SupportedCryptoSection_tagCoin">MATIC</span>
      </div>

      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">14</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/sand_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">The Sandbox</span>
        <span class="SupportedCryptoSection_tagCoin">SAND</span>
      </div>

      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">15</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/shib_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Shiba Inu</span>
        <span class="SupportedCryptoSection_tagCoin">SHIB</span>
      </div>

      <div class="SupportedCryptoSection_item __paragraph-1">
        <span class="SupportedCryptoSection_numberCoin">16</span>
        <img
          class="SupportedCryptoSection_imgCoin lazy"
          src="../assets/support-crypto/uni_ic.svg" />
        <span class="SupportedCryptoSection_nameCoin">Uniswap</span>
        <span class="SupportedCryptoSection_tagCoin">UNI</span>
      </div>
    </section>
    <!-- <section
      class="SupportedCryptoSection_buttonContainer"
      data-name="SupportedCryptoPagination"></section> -->
  </div>
</article>
