@media screen and (max-width: 768px), (max-width: 1200px) {
  .EtzMobileSection {
    /* overflow: initial; */
    justify-content: center;

    box-sizing: border-box;
    height: initial;
    min-height: calc(100vh + 106px);
    padding: 0 16px;
  }
  .EtzMobileSection_block {
    align-items: initial;
    flex-direction: column;
    justify-content: initial;

    width: 100%;
    height: initial;

    place-self: initial;
  }
  .EtzMobileSection_description {
    z-index: 50;

    min-width: initial;
  }
  .EtzMobileSection_title {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.1em;
  }
  .EtzMobileSection_subTitle {
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;

    width: 100%;
    margin: 8px 0 32px 0;

    text-align: center;
  }

  .EtzMobileSection_text {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;

    padding: 0;

    text-align: center;
  }
  .EtzMobileSection_mobiles {
    top: 30px;
    left: 50%;

    width: 367.78px;
    min-width: initial;
    height: 426px;
    max-height: initial;

    transform: scale(1.24) translateX(-20%);
  }

  .EtzMobileSection_eth {
    right: 124px;
    bottom: calc(132px - var(--coin-position));
  }

  .EtzMobileSection_btc {
    top: calc(156px + var(--coin-position));
    left: 99px;
  }

  .EtzMobileSection_ada {
    top: calc(213px + var(--coin-position));
    left: -34px;
  }
  .EtzMobileSection_avax {
    top: calc(104px + var(--coin-position));
    left: 194px;
  }
  .EtzMobileSection_bnb {
    top: calc(51px + var(--coin-position));
    left: -52px;
  }
  .EtzMobileSection_btc {
    top: calc(59px + var(--coin-position));
    left: 102px;
  }
  .EtzMobileSection_ftm {
    top: calc(35px + var(--coin-position));
    left: -41px;
  }
  .EtzMobileSection_sol {
    top: calc(-14px + var(--coin-position));
    right: 105px;
  }
  .EtzMobileSection_usdc {
    bottom: calc(68px - var(--coin-position));
    left: 125px;
  }
}
