<article
  class="BenefitsSection __section __sidePadding"
  id="benefits"
  data-name="Section"
  name-benefits-section>
  <section class="BenefitsSection_container __container">
    <span class="BenefitsSection_title __subtitle-2">Benefits</span>
    <h2>Key Advantages</h2>

    <div class="BenefitsSection_viewSlider" data-name="BenefitsSlider">
      <div class="BenefitsSection_shadow"></div>
      <div class="BenefitsSection_shadow"></div>
      <div
        class="BenefitsSection_slideContainer"
        name-benefits-slider-container>
        <div
          class="BenefitsSection_slide BenefitsSection_slide__shown"
          name-benefits-slide>
          <div class="BenefitsSection_slideImg">
            <include src="assets/benefits-slider/icon-slide-1.svg"> </include>
          </div>
          <span class="__subtitle-1">
            Exponential growth without the <br />
            capital gains tax
          </span>
        </div>
        <div class="BenefitsSection_slide" name-benefits-slide>
          <div class="BenefitsSection_slideImg">
            <include src="assets/benefits-slider/icon-slide-2.svg"> </include>
          </div>
          <span class="__subtitle-1">
            All transactions are valued by professionals to <br />
            ensure IRS compliance
          </span>
        </div>
        <div class="BenefitsSection_slide" name-benefits-slide>
          <div class="BenefitsSection_slideImg">
            <include src="assets/benefits-slider/icon-slide-3.svg"> </include>
          </div>
          <span class="__subtitle-1">
            We provide institutional grade storage of your digital assets to
            ensure your retirement savings are secure
          </span>
        </div>
        <div class="BenefitsSection_slide" name-benefits-slide>
          <div class="BenefitsSection_slideImg">
            <include src="assets/benefits-slider/icon-slide-4.svg"> </include>
          </div>
          <span class="__subtitle-1">Human support</span>
        </div>

        <div class="BenefitsSection_slide" name-benefits-slide>
          <div class="BenefitsSection_slideImg">
            <include src="assets/benefits-slider/icon-slide-5.svg"> </include>
          </div>
          <span class="__subtitle-1">
            ETZ is the only business focused <br />
            on Roth IRAs for Web3 Founders
          </span>
        </div>
      </div>
      <div class="BenefitsSection_dots" name-benefits-slider-dots-container>
        <!-- <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span>
        <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span>
        <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span>
        <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span>
        <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span>
        <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span> -->
      </div>
    </div>
  </section>
</article>
