<div class="FAQSection_accordion">
  <div class="FAQSection_accordionSummary __subtitle-1">
    <span>Account</span>
    <img data-src="/arrow-accordion.svg" class="FAQSection_arrowIcon" />
  </div>

  <div class="FAQSection_accordionDetails FAQSection_accordion__slideDown">
    <div class="FAQSection_accordionColumns">
      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          What kind of account can I open?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          We help open a SEP IRA for you and your team. You can also rollover an
          IRA or 401k.
        </span>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          How quickly can I set up my account?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          Your account could be fully set up same day. We’ve created an
          automated process that expedites onboarding for a quick turnaround.
        </span>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          How can I download the App?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          You can download the app through iOS or Android app store. Your
          employees will be onboarding through our mobile app as well as access
          their account once established.
        </span>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          What is the minimum cash balance I must maintain in my account?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          There is no minimum cash balance required.
        </span>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          What retirement accounts are eligible to be rolled into the (ETZ) IRA?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          Most pre tax accounts such as a 401k, Traditional IRA or SEP IRA will
          qualify for rollover. Please give us a call to discuss your options.
        </span>
      </div>
    </div>
  </div>
</div>
