<div class="FAQSection_accordion">
  <div class="FAQSection_accordionSummary __subtitle-1">
    <span>ETZ General</span>
    <img src="assets/arrow-accordion.svg" class="FAQSection_arrowIcon" />
  </div>

  <div class="FAQSection_accordionDetails FAQSection_accordion__slideDown">
    <div
      class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
      <span class="FAQSection_accordionDetailsTitle __paragraph-1">
        Hours of operation?
      </span>
      <span class="FAQSection_accordionDetailsDescription __paragraph-2">
        M-F 8am-6pm PST.
      </span>
    </div>

    <div
      class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
      <span class="FAQSection_accordionDetailsTitle __paragraph-1"
        >Are there minimums and investment caps?</span
      >
      <span class="FAQSection_accordionDetailsDescription __paragraph-2">
        No minimums. SEP-IRA's are a fantastic retirement savings vehicle,
        however, rules limit the amount you can contribute. In general,
        contribution amounts can be 25% of an employee's compensation (subject
        to $305,000 annual income for 2022). There is a contribution limit of
        $61,000 for 2022.
      </span>
    </div>

    <div
      class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
      <span class="FAQSection_accordionDetailsTitle __paragraph-1"
        >Can I transfer the cryptocurrency I already own to my SEP IRA?</span
      >
      <span class="FAQSection_accordionDetailsDescription __paragraph-2"
        >No. Transferring existing cryptocurrency into the IRA is not allowed.
      </span>
    </div>

    <div
      class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
      <span class="FAQSection_accordionDetailsTitle __paragraph-1"
        >How does ETZ secure my digital assets?</span
      >
      <span class="FAQSection_accordionDetailsDescription __paragraph-2"
        >Security is our #1 priority. ETZ uses the world's leading institutional
        cold storage provider, Coinbase. Your assets can be stored 100% offline
        while covered with a $320 million insurance policy.
      </span>
    </div>

    <div
      class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
      <span class="FAQSection_accordionDetailsTitle __paragraph-1"
        >Can I access and trade my account during holidays?</span
      >
      <span class="FAQSection_accordionDetailsDescription __paragraph-2"
        >Yes, unlike others, we offer TRUE 24/7 trading access.</span
      >
    </div>
  </div>
</div>
