<article class="FAQSection __sidePadding __section" id="faq">
  <div class="__container">
    <span class="FAQSection_title __subtitle-2">F.A.Q.</span>
    <h2 class="FAQSection_subtitle">We Answer Your Questions</h2>
    <div class="FAQSection_accordionBlock">
      <include src="components/faq-section/what-sep-ira.html"></include>
      <include src="components/faq-section/why-etz.html"></include>
      <include src="components/faq-section/etz-general.html"></include>
      <include src="components/faq-section/account.html"></include>
      <include src="components/faq-section/investments.html"></include>
      <include src="components/faq-section/yield-options.html"></include>
    </div>
  </div>
</article>
