<article class="FAQSection __sidePadding __section" id="etz-mobile">
  <div class="__container">
    <section class="">
      <span class="FAQSection_title __subtitle-2">F.A.Q.</span>
      <h2 class="FAQSection_subtitle">We Answer Your Questions</h2>
      <div class="FAQSection_accordionBlock">
        <div class="FAQSection_accordion">
          <div class="FAQSection_accordionSummary __subtitle-1">
            <span>What’s a SEP IRA?</span>
            <img
              src="assets/arrow-accordion.svg"
              class="FAQSection_arrowIcon"
            />
          </div>

          <div class="FAQSection_accordionDetails">
            <div class="FAQSection_accordionDetailsItem">
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >A Simplified Employee Pension (SEP) plan allows business owners
                to contribute toward their employees’ retirement account as well
                as their own. Contributions are made to an Individual Retirement
                Account and can be invested in cryptocurrency through our
                platform. Click here to learn more about a SEP IRA.</span
              >
            </div>
          </div>
        </div>

        <div class="FAQSection_accordion">
          <div class="FAQSection_accordionSummary __subtitle-1">
            <span>Why ETZ?</span>
            <img
              src="assets/arrow-accordion.svg"
              class="FAQSection_arrowIcon"
            />
          </div>

          <div class="FAQSection_accordionDetails">
            <div class="FAQSection_accordionDetailsItem">
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >1-6% APY on select coins and USD, all while in the IRA! It’s
                vital to be thinking about the future and what’s coming next.
                ETZ is empowering companies to attract top talent by offering
                cryptocurrency access to participants through a tax-advantaged
                SEP IRA. We believe increasing access to digital assets for
                every employee in America will change the incentive plan for
                every employer. ETZ is a white glove service ensuring your
                team's crypto investing needs are met. We provide accounts with
                designated representatives to be there when you need them along
                with 24/7 investing access. We also take care of the legal
                complexities around tax reporting and security of your
                assets.</span
              >
            </div>
          </div>
        </div>

        <div class="FAQSection_accordion">
          <div class="FAQSection_accordionSummary __subtitle-1">
            <span>ETZ General</span>
            <img
              src="assets/arrow-accordion.svg"
              class="FAQSection_arrowIcon"
            />
          </div>

          <div class="FAQSection_accordionDetails">
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >What are the fees?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>

            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >What coins are available for investment?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >We offer 50+ coins for selection. You can access a list on our
                homepage.
              </span>
            </div>

            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Are there minimums and investment caps?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >No minimums. SEP-IRA's are a fantastic retirement savings
                vehicle, however, rules limit the amount you can contribute. In
                general; contribution amounts can be 25% of an employee's
                compensation (subject to $305,000 annual income for 2022). There
                is a contribution limit of $61,000 for 2022.
              </span>
            </div>

            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Can I transfer the cryptocurrency I already own to my SEP
                IRA?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >No. Transferring existing cryptocurrency into the IRA is not
                allowed.
              </span>
            </div>

            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >How does ETZ secure my digital assets?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Security is our #1 priority. ETZ uses the world's leading
                institutional cold storage provider, Coinbase. Your assets can
                be stored 100% offline while covered with a $320 million
                insurance policy.
              </span>
            </div>

            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Can I access and trade my account during holidays?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Yes, unlike others, we offer TRUE 24/7 trading access.</span
              >
            </div>
          </div>
        </div>

        <div class="FAQSection_accordion">
          <div class="FAQSection_accordionSummary __subtitle-1">
            <span>Yield Options</span>
            <img
              src="assets/arrow-accordion.svg"
              class="FAQSection_arrowIcon"
            />
          </div>

          <div class="FAQSection_accordionDetails">
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Can I stake and lend my coins?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >How is the yield paid out and when?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Which coins can I stake?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Which coins can I lend?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >What are the rates I can earn?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >How do I enroll and is there a cost?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >What options do I have if I need to sell my position?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50"
            >
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Is there a minimum to enroll?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</article>
