<div class="FAQSection_accordion">
  <div class="FAQSection_accordionSummary __subtitle-1">
    <span>Investments</span>
    <img src="assets/arrow-accordion.svg" class="FAQSection_arrowIcon" />
  </div>

  <div class="FAQSection_accordionDetails FAQSection_accordion__slideDown">
    <div class="FAQSection_accordionColumns">
      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <div>
          <span class="FAQSection_accordionDetailsTitle __paragraph-1">
            How can I fund my (ETZ) IRA?
          </span>
          <span class="FAQSection_accordionDetailsDescription __paragraph-2">
            You can fund your SEP IRA via a contribution, or by rolling over
            funds from a previous retirement account. Please give us a call to
            discuss your options as the employer.
          </span>
        </div>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          How are my investments secured?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          We provide institutional grade storage trusted by the largest
          institutions in the country.
          <ul>
            <li>
              The Digital Asset Vault is fully isolated in its own environment
              with strict access controls requiring 2FA for all staff
            </li>
            <li>24/7 security monitoring of all Vault-related locations</li>
            <li>
              Recovery keys are stored offline and wallet key shares are
              encrypted at rest
            </li>
            <li>No single point of failure</li>
            <li>Secure air gapped recovery key</li>
          </ul>
        </span>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          How long will it take to fund my (ETZ) IRA?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          You can fund your account same day. Once the account is
          approved/established, you’ll receive contribution forms with funding
          instructions.
        </span>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          How do I request to add funds to my IRA?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          Please contact your ETZ representative who can facilitate.
        </span>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          Are there any tax benefits of having an (ETZ) account?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          In the general sense, yes. SEP IRA’s are tax deferred. All trading
          done within the IRA is tax free. Please consult with a tax
          professional or financial advisor for any related tax questions.
        </span>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          Will there be penalties or taxes when transferring my IRA/401K?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          There are no penalties incurred for direct transfers or rollovers.
        </span>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <div>
          <span class="FAQSection_accordionDetailsTitle __paragraph-1">
            Can I make a contribution to an IRA with Cryptocurrency I already
            own?
          </span>
          <span class="FAQSection_accordionDetailsDescription __paragraph-2">
            No. Any contribution to your SEP IRA must be cash.
          </span>
        </div>
      </div>

      <div
        class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
        <span class="FAQSection_accordionDetailsTitle __paragraph-1">
          After my account gets funded, does it start as Crypto or USD?
        </span>
        <span class="FAQSection_accordionDetailsDescription __paragraph-2">
          Your account will be funded in USD. You can trade your USD through our
          mobile app 24/7.
        </span>
      </div>
    </div>
  </div>
</div>
