<div class="FAQSection_accordion">
  <div class="FAQSection_accordionSummary __subtitle-1">
    <span>What’s a SEP IRA?</span>
    <div class="FAQSection_arrowIcon">
      <include src="assets/arrow-accordion.svg" />
    </div>
  </div>

  <div class="FAQSection_accordionDetails FAQSection_accordion__slideDown">
    <div class="FAQSection_accordionDetailsItem">
      <span class="FAQSection_accordionDetailsDescription __paragraph-2"
        >A Simplified Employee Pension (SEP) plan allows business owners to
        contribute toward their employees’ retirement account as well as their
        own. Contributions are made to an Individual Retirement Account and can
        be invested in digital assets through our platform.</span
      >
    </div>
  </div>
</div>
