<div class="FAQSection_accordion">
  <div class="FAQSection_accordionSummary __subtitle-1">
    <span>Why ETZ?</span>
    <img src="assets/arrow-accordion.svg" class="FAQSection_arrowIcon" />
  </div>

  <div class="FAQSection_accordionDetails FAQSection_accordion__slideDown">
    <div class="FAQSection_accordionDetailsItem">
      <span class="FAQSection_accordionDetailsDescription __paragraph-2"
        >1-6% APY on select coins and USD, all while in the IRA! It’s vital to
        be thinking about the future and what’s coming next. ETZ is empowering
        companies to attract top talent by offering cryptocurrency access to
        participants through a tax-advantaged SEP IRA. We believe increasing
        access to digital assets for every employee in America will change the
        incentive plan for every employer. ETZ is a white glove service ensuring
        your team's crypto investing needs are met. We provide accounts with
        designated representatives to be there when you need them along with
        24/7 investing access. We also take care of the legal complexities
        around tax reporting and security of your assets.</span
      >
    </div>
  </div>
</div>
