<!-- <div class="FAQSection_accordion">
          <div class="FAQSection_accordionSummary __subtitle-1">
            <span>Yield Options</span>
            <img
              src="assets/arrow-accordion.svg"
              class="FAQSection_arrowIcon" />
          </div>

          <div class="FAQSection_accordionDetails">
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Can I stake and lend my coins?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >How is the yield paid out and when?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Which coins can I stake?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Which coins can I lend?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >What are the rates I can earn?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >How do I enroll and is there a cost?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >What options do I have if I need to sell my position?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
            <div
              class="FAQSection_accordionDetailsItem FAQSection_accordionDetailsItem__50">
              <span class="FAQSection_accordionDetailsTitle __paragraph-1"
                >Is there a minimum to enroll?</span
              >
              <span class="FAQSection_accordionDetailsDescription __paragraph-2"
                >Coming soon</span
              >
            </div>
          </div>
        </div> -->
