@import url("./fonts/index.css");
@import url("./theme/typography.css");
@import url("./theme/color-scheme.css");
@import url("./animations/index.css");
@import url("./components/button.css");
@import url("./components/input.css");
@import url("./components/header-section.css");
@import url("./components/benefits-section.css");
@import url("./components/for-employers-section.css");
@import url("./components/etz-mobile-section.css");
@import url("./components/faq-section.css");
@import url("./components/contact-us-section.css");
@import url("./components/header-menu.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  scroll-snap-type: y mandatory;
  color: var(--dark);
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

:root {
  --z-index-menu: 500;
  --z-index-front-img: 50;
}

.__section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.__container {
  align-self: center;
  justify-self: center;
  width: 1200px;
}

/* Three classes for phone animation*/
.section_first {
  position: relative;
  width: 100%;
}

.section_second {
  position: relative;
  width: 100%;
}

.section_third {
  position: relative;
  width: 100%;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 50;
  pointer-events: none;
}

.lil-gui {
  display: none !important;
  left: 15px;
  right: auto;
}
