@keyframes show-menu {
  from {
    background: transparent;
  }

  to {
    background: var(--bright);
  }
}

@keyframes hide-menu {
  from {
    background: var(--bright);
  }

  to {
    background: transparent;
  }
}

@keyframes slide-down {
  0% {
    height: 300px;
    padding: 11px 42px;
  }
  70% {
    padding: 11px 42px;
  }
  100% {
    padding: 0;
    height: 0;
  }
}

@keyframes slide-up {
  0% {
    padding: 0;
    height: 0;
  }
  1% {
    padding: 11px 42px;
  }
  100% {
    height: 300px;
    padding: 11px 42px;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    display: initial;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
