<article
  class="EtzMobileSection __sidePadding __section"
  id="etz-mobile"
  data-name="Section"
  name-etz-mobile-section>
  <div class="EtzMobileSection_block __container">
    <!-- <picture>
      <source
        media="(min-width: 768px) and (max-width: 1200px)"
        srcset="../assets/pattern_tablet.svg" />
      <source
        media="(max-width: 768px)"
        srcset="../assets/pattern_mobile.svg" />
      <lottie-player
        src="/leaves/Leaves_web.json"
        class="Loader_leaves Loader_leaves__web EtzMobileSection_pattern"
        background="transparent"
        speed="1"
        loop
        autoplay></lottie-player>
    </picture> -->
    <section class="founder-tax-chart">
      <figure class="chartContainer">
        <div class="chartTitle">With ETZ</div>
        <div class="chart">
          <div class="bar withETZ">
            <div class="barSegment after25Years">
              <strong>$339M</strong>
              <p>After 25 yrs</p>
            </div>
            <div class="barSegment afterExit">
              <strong>$100M</strong>
              <p>After Exit</p>
            </div>
          </div>
          <div class="bar withoutETZ">
            <div class="barSegment taxLosses">
              <strong>$189M</strong>
              <p>Tax Losses</p>
            </div>
            <div class="barSegment after25Years">
              <strong>$153M</strong>
              <p>After 25 yrs</p>
            </div>
            <div class="barSegment afterExit">
              <strong>$67M</strong>
              <p>After Exit</p>
            </div>
          </div>
        </div>
        <figcaption class="text-s text-center">
          Illustrative tax-advantaged return after a $100M exit, compounding at
          5% annually for 25 years for a San Francisco resident.
        </figcaption>
      </figure>
    </section>
    <section class="EtzMobileSection_description">
      <h2 class="EtzMobileSection_subTitle">Take home millions more</h2>
      <div class="EtzMobileSection_textContainer">
        <span class="EtzMobileSection_text __subtitle-1">
          Put your founder tokens or token warrant in a Roth IRA and save
          millions in taxes.
        </span>
      </div>
      <button class="founderButton Button__primary EtzMobileSection_button">
        Get in Touch
      </button>
    </section>
    <!-- Hidden for ETZ-404-->
    <!-- <button class="Button Button__primary EtzMobileSection_button">
        Download App
        <img src="assets/path.svg" class="EtzMobileSection_arrow" />
      </button> -->
  </div>
</article>
