@media screen and (max-width: 768px),
  (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape),
  (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
  (max-width: 1000px) and (orientation: landscape) {
  .HeaderSection {
    position: relative;

    overflow: hidden;

    box-sizing: content-box;
    height: 100vh;

    color: var(--text-white);
    background: var(--gradient-main);
  }
  .HeaderSection_overflow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: initial;
    left: initial;

    height: 100vh;

    transform: scale(1);

    touch-action: none;
  }
  .HeaderSection_main {
    align-items: self-start;

    width: 100vw;
    margin-top: 0;
    padding-top: 60px;

    justify-self: center;
  }
  .HeaderSection_container {
    padding: 0 16px;
  }
  .HeaderSection_welcome {
    width: 100%;
  }
  .HeaderSection_title {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;

    width: 100%;

    text-align: center;
  }
  .HeaderSection_description {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;

    width: 100%;

    text-align: center;
  }
}

@media screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape),
  (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
  (max-width: 1000px) and (orientation: landscape) {
  .HeaderSection {
    position: relative;

    overflow: hidden;
    align-items: flex-start;

    box-sizing: content-box;
    min-width: calc(100vw - 64px);
    height: 100vh;

    color: var(--text-white);
    background: var(--gradient-main);
  }
  .HeaderSection_overflow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: initial;
    left: initial;

    height: 100vh;

    transform: scale(1);

    touch-action: none;
  }
  .HeaderSection_main {
    width: 65vw;
    padding-top: 0;

    justify-self: left;
  }
  .HeaderSection_container {
    padding: 0 48px;
  }
  .HeaderSection_welcome {
    width: initial;
    width: 100%;
  }
  .HeaderSection_title {
    text-align: left;
  }
  .HeaderSection_description {
    text-align: left;
  }
  .HeaderSection_triangle {
    clip-path: polygon(265% 1%, 0% 55%, 100% 100%);
  }
}
