<header class="HeaderSection_menu __sidePadding">
  <div class="HeaderSection_menuContainer">
    <span class="HeaderSection_logoDark">
      <include src="assets/logo-dark.svg"> </include>
    </span>
    <span class="HeaderSection_logoLight">
      <include src="assets/logo-light.svg"> </include>
    </span>
    <ul class="HeaderSection_links">
      <li class="HeaderSection_link"><a href="#benefits">Benefits</a></li>
      <li class="HeaderSection_link"><a href="#employers">For Employers</a></li>
      <li class="HeaderSection_link"><a href="#etz-mobile">ETZ Mobile</a></li>
      <li class="HeaderSection_link HeaderSection_link__highlight">
        50+ Cryptos
      </li>
    </ul>
    <span class="HeaderSection_initial">
      <span class="HeaderSection_headerGetStarted Button Button__secondary"
        >Get Started</span
      >
      <span class="HeaderSection_buttonLink">
        <div class="HeaderSection_buttonIcon HeaderSection_entryIconDark">
          <include src="assets/entry-dark.svg"> </include>
        </div>
        <div class="HeaderSection_buttonIcon HeaderSection_entryIconLight">
          <include src="assets/entry-light.svg"> </include>
        </div>
        Sign In
      </span>
    </span>
  </div>
</header>

<article class="HeaderSection section_first __section __sidePadding">
  <div class="HeaderSection_overflow"></div>
  <div class="HeaderSection_container __container">
    <section>
      <div class="HeaderSection_welcome">
        <div>
          <span class="HeaderSection_title">
            Empower your employees with a crypto IRA. Open your account and be
            trading within 24 hours.
          </span>
          <span class="HeaderSection_description"
            >ETZ empowers companies and their team to buy and sell crypto in a
            retirement account 24/7. We offer institutional-grade crypto custody
            on your digital assets all while charging low transparent fees. Have
            an IRA or 401k you’d like to rollover? We can help with that as
            well.</span
          >
        </div>
      </div>
      <div>
        <button class="Button Button__ghost">Get Started</button>
        <button class="Button Button__outlined HeaderSection_downloadButton">
          Download App
        </button>
      </div>
      <div class="HeaderSection_triangle"></div>
    </section>
  </div>
</article>
