<article id="header" class="HeaderSection __section __sidePadding">
  <div class="HeaderSection_menu">
    <include src="components/header-menu/index.html"></include>
  </div>
  <div class="HeaderSection_overflow"></div>
  <div class="HeaderSection_container __container">
    <section>
      <div class="HeaderSection_welcome">
        <div>
          <span class="HeaderSection_title">
            Empower your employees with a crypto IRA. Open your account and be
            trading within 24 hours.
          </span>
          <span class="HeaderSection_description"
            >ETZ is the world's 1st employer focused crypto IRA platform. We
            empower companies to attract top talent by offering cryptocurrency
            access to participants through a tax-advantaged SEP IRA</span
          >
        </div>
        <div class="HeaderSection_buttons">
          <button class="Button Button__ghost">Get Started</button>
          <button class="Button Button__outlined HeaderSection_downloadButton">
            Download App
          </button>
        </div>
      </div>
      <div class="HeaderSection_triangle"></div>
    </section>
  </div>
</article>
