<article id="header" class="HeaderSection __section __sidePadding">
  <lottie-player
    src="/leaves/Leaves_web.json"
    class="Loader_leaves Loader_leaves__web HeaderSection_overflow"
    background="transparent"
    speed="1"
    loop
    autoplay></lottie-player>
  <div class="HeaderSection_menu">
    <include
      src="components/header-menu/index.html"
      locals='{
      "nameStartButton": "{{nameStartButton}}"
    }'></include>
  </div>
  <div class="HeaderSection_main" data-name="Section">
    <div class="HeaderSection_container __container">
      <section class="HeaderSection_welcomeSection">
        <div class="HeaderSection_welcome">
          <div>
            <span class="HeaderSection_title">{{title}}</span>
            <span
              class="HeaderSection_description"
              name-header-section-description>
              {{description}}
            </span>
          </div>

          <!-- <div class="HeaderSection_buttons">
            <a
              href="https://calendly.com/nash-etz/30min"
              target="_blank"
              class="Button Button__whiteSecondary"
              name-button-demo>
              Get Free DEMO
            </a>
            <a
              href="#contact-us"
              name-link
              class="Button Button__whitePrimary"
              name-button-join>
              {{nameStartButton}}
            </a>
          </div> -->
        </div>
        <div class="HeaderSection_triangle"></div>
      </section>
    </div>
  </div>
</article>
