<footer class="Footer" data-name="Section">
  <nav class="Footer_nav">
    <a href="#header" class="Footer_logoLink">
      <img class="Footer_logo" src="assets/logo-gray.svg" />
    </a>
    <div class="Footer_links">
      <a href="#benefits" class="__paragraph-1">Benefits</a>
      <a href="#employers" class="__paragraph-1">For Employers</a>
      <a href="#etz-mobile" class="__paragraph-1">ETZ Mobile</a>
      <a href="#crypto" class="__paragraph-1">Supported Cryptos</a>
      <a href="#faq" class="__paragraph-1">FAQ</a>
    </div>
  </nav>
  <div class="Footer_divider"></div>

  <div class="Footer_privacy">
    <span class="Footer_copyright __caption-1">Copyright © 2022 ETZ inc.</span>
    <div>
      <a
        href="assets/docs/Terms_of_Service.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="__caption-1"
        >Terms of Service</a
      >
      <span class="Footer_verticalDivider">|</span>
      <a
        href="assets/docs/Privcacy_Policy.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="__caption-1"
        >Privacy Policy</a
      >
    </div>
  </div>

  <div class="Footer_descriptionBlock">
    <span class="Footer_description __caption-1">
      ETZ Soft, Inc. is not an exchange, funding portal, custodian, trust
      company, licensed broker, dealer, broker-dealer, investment advisor,
      investment manager, or adviser in the United States or elsewhere. ETZ Soft
      Inc. is not affiliated with and does not endorse any particular
      cryptocurrency, precious metal, or investment strategy.
    </span>

    <input
      type="checkbox"
      class="Footer_checkbox"
      id="readmore"
      name="readmore"
      data-name="ContactUsInputCheck" />
    <label for="readmore">Read more</label>
    <span class="Footer_description Footer_description__hidden __caption-1">
      Cryptocurrencies are a speculative investment with risk of loss. Precious
      metals are a speculative investment with risk of loss. Cryptocurrency is
      not legal tender backed by the United States government, nor is it subject
      to Federal Deposit Insurance Corporation (“FDIC”) insurance or
      protections. Users do not receive a choice of custody partner. The
      self-directed purchase and sale of cryptocurrency through a cryptocurrency
      IRA have not been endorsed by the IRS or any regulatory agency. Historical
      performance is no guarantee of future results.
    </span>
    <span class="Footer_description Footer_description__hidden __caption-1">
      Some taxes and conditions may apply. Investors assume the risk of all
      purchase and sale decisions. ETZ Soft, Inc. makes no guarantee or
      representation regarding investors’ ability to profit from any transaction
      or the tax implications of any transaction. ETZ Soft, Inc. does not
      provide legal, investment or tax advice. Consult a qualified legal,
      investment, or tax professional.
    </span>
    <span class="Footer_description Footer_description__hidden __caption-1">
      Information contained on this website is for information purposes only. It
      is not tailored to any specific user. It does not constitute investment
      advice in any way, nor does it constitute an offer to sell or a
      solicitation of an offer to buy or sell any cryptocurrency or security or
      to participate in any investment strategy. ETZ Soft, Inc. makes no
      representation or warranty as to the accuracy or completeness of this
      information and shall not have any liability for any representations
      (expressed or implied) or omissions from the information contained herein.
      ETZ Soft Inc. disclaims any and all liability to any party for any direct,
      indirect, implied, punitive, special, incidental or other consequential
      damages arising directly or indirectly from any use of this information,
      which is provided as is, without warranties.
    </span>
  </div>
</footer>
