<article
  class="ForEmployersSection __sidePadding __section"
  id="quick-start"
  data-name="Section">
  <div class="ForEmployersSection_container __container">
    <span class="ForEmployersSection_title __subtitle-2">Quick start</span>
    <h2>It’s as easy as 1-2-3</h2>
    <span class="__subtitle-1"
      >Our team will walk you through the process step by step.</span
    >
    <section class="ForEmployersSection_steps">
      <div class="ForEmployersSection_step ForEmployersSection_step__first">
        <img
          src="../assets/step-chart-1.svg"
          class="ForEmployersSection_chart" />
        <img
          src="../assets/arrow.svg"
          class="ForEmployersSection_arrow ForEmployersSection_arrow__first" />

        <span class="__subtitle-1">Create an account</span>
        <span class="ForEmployersSection_description __paragraph-2">
          It is free to open an account. Click “Get started” to complete your
          account info in less than a minute. Once completed, your designated
          ETZ representative will reach out to discuss onboarding which can be
          completed same day.
        </span>
      </div>

      <div class="ForEmployersSection_step ForEmployersSection_step__second">
        <img
          src="../assets/step-chart-2.svg"
          class="ForEmployersSection_chart" />
        <img
          src="../assets/arrow.svg"
          class="ForEmployersSection_arrow ForEmployersSection_arrow__second" />

        <span class="__subtitle-1">Fund your account</span>
        <span class="ForEmployersSection_description __paragraph-2"
          >Tell us how you’d like to fund your account. Rollover or directly
          fund your Roth IRA. Most accounts are ready within 24 hours.</span
        >
      </div>

      <div class="ForEmployersSection_step ForEmployersSection_step__third">
        <img
          src="../assets/step-chart-3.svg"
          class="ForEmployersSection_chart" />

        <span class="__subtitle-1">Transfer your assets</span>
        <span class="ForEmployersSection_description __paragraph-2"
          >Transfer your tokens or token warrant to your new Roth IRA and watch
          it grow. </span
        >
      </div>
    </section>
  </div>
</article>
