@media screen and (max-width: 768px), (max-width: 1200px) {
  .BenefitsSection {
    position: relative;

    box-sizing: content-box;
    min-height: 100vh;
    margin-top: 96px;
    padding: 16px;
    padding-top: 64px;
  }
  .BenefitsSection_container {
    width: calc(100vw - 32px);
    height: 100vh;

    place-self: initial;
  }
  .BenefitsSection_title {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.1em;
  }
  .BenefitsSection_container h2 {
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;

    text-align: center;
  }
  .BenefitsSection_slideContainer {
    min-width: calc(100vw - 62px);
  }
  .BenefitsSection_viewSlider {
    position: absolute;
    bottom: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: calc(100vw - 32px);
    height: 156px;
    margin-top: 0;
    margin-left: 0;
    padding: 0 15px;
  }
  .BenefitsSection_shadow {
    box-shadow: 0 0 10px 25px var(--bright);
  }
  .BenefitsSection_slide {
    align-items: center;

    min-width: calc(100vw - 62px);
    padding: 0;
  }
  .BenefitsSection_slideImg {
    width: 24px;
    height: 24px;
  }
  .BenefitsSection_dots {
    display: flex;
    justify-content: center;
  }
  .BenefitsSection_dot {
    margin: 0 5px;
  }
  .BenefitsSection_slide span {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;

    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .BenefitsSection {
    padding: 48px;
  }
  .BenefitsSection_title {
    text-align: left;
  }

  .BenefitsSection_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .BenefitsSection_container h2 {
    width: calc(50vw - 32px);

    text-align: left;
  }
  .BenefitsSection_viewSlider {
    position: initial;
    bottom: initial;

    width: calc(50vw - 55px);
  }
  .BenefitsSection_slide {
    align-items: flex-start;

    min-width: calc(50vw - 66px);
  }
  .BenefitsSection_dots {
    justify-content: flex-start;
  }
  .BenefitsSection_slide span {
    text-align: left;
  }

  .BenefitsSection_shadow {
    box-shadow: none;
  }
}
