<header class="HeaderMenu_menu __sidePadding">
  <div class="HeaderMenu_menuContainer">
    <a href="#header" name-link>
      <span class="HeaderMenu_logoDark">
        <img src="../assets/logo-dark.svg" />
      </span>
      <span class="HeaderMenu_logoLight">
        <img src="../assets/logo-light.svg" />
      </span>
    </a>
    <div class="HeaderMenu_links">
      <div id="HeaderMenu_links">
        <div class="HeaderMenu_link">
          <a href="/" name-native-link>
            <span class="HeaderMenu_linkText__black">For Employers</span>
          </a>
        </div>

        <div class="HeaderMenu_link">
          <a href="./individual.html" name-native-link>
            <span class="HeaderMenu_linkText__black">For Individuals</span>
          </a>
        </div>
      </div>

      <div class="HeaderMenu_dashContainer">
        <div class="HeaderMenu_dash"></div>
      </div>
    </div>
    <span class="HeaderMenu_initial">
      <a href="/#contact-us" name-link>
        <span
          class="HeaderMenu_headerGetFreeDemo Button Button__whiteSecondary"
          name-button-demo>
          Get Free Employer DEMO
        </span>
      </a>
      <a href="./individual.html#contact-us" name-link>
        <span
          class="HeaderMenu_headerGetStarted Button Button__whitePrimary"
          name-button-join>
          Open Individual IRA
        </span>
      </a>
      <!-- <span class="HeaderMenu_buttonLink">
        <div class="HeaderMenu_buttonIcon HeaderMenu_entryIconDark">
          <include src="assets/entry-dark.svg"> </include>
        </div>
        <div class="HeaderMenu_buttonIcon HeaderMenu_entryIconLight">
          <include src="assets/entry-light.svg"> </include>
        </div>
        Sign In
      </span> -->
    </span>
  </div>
</header>
