<header class="HeaderMenu_menu HeaderMenu_menu__mobile __sidePadding">
  <div class="HeaderMenu_menuContainer">
    <a href="#header" name-link>
      <span class="HeaderMenu_logoDark">
        <img src="assets/logo-dark.svg" />
      </span>
      <span class="HeaderMenu_logoLight">
        <img src="assets/logo-light.svg" />
      </span>
    </a>
    <div class="HeaderMenu_links">
      <div id="HeaderMenu_links">
        <div class="HeaderMenu_link">
          <a href="#benefits" name-link>
            <span class="HeaderMenu_linkText__black">Benefits</span>
            <span class="HeaderMenu_linkText__primary">Benefits</span>
          </a>
        </div>
        <div class="HeaderMenu_link">
          <a href="#employers" name-link>
            <span class="HeaderMenu_linkText__black">For Employers</span>
            <span class="HeaderMenu_linkText__primary">For Employers</span>
          </a>
        </div>
        <div class="HeaderMenu_link">
          <a href="#etz-mobile" name-link>
            <span class="HeaderMenu_linkText__black">ETZ Mobile</span>
            <span class="HeaderMenu_linkText__primary">ETZ Mobile</span>
          </a>
        </div>
        <div class="HeaderMenu_link">
          <a href="#crypto" name-link>
            <span class="HeaderMenu_linkText__black">Supported Cryptos</span>
            <span class="HeaderMenu_linkText__primary">Supported Cryptos</span>
          </a>
        </div>
      </div>

      <div class="HeaderMenu_dashContainer">
        <div class="HeaderMenu_dash"></div>
      </div>
    </div>
    <span class="HeaderMenu_initial">
      <a href="#contact-us" name-link>
        <span class="HeaderMenu_headerGetStarted Button Button__secondary"
          >Join the Waitlist</span
        >
      </a>

      <!-- <span class="HeaderMenu_buttonLink">
        <div class="HeaderMenu_buttonIcon HeaderMenu_entryIconDark">
          <include src="assets/entry-dark.svg"> </include>
        </div>
        <div class="HeaderMenu_buttonIcon HeaderMenu_entryIconLight">
          <include src="assets/entry-light.svg"> </include>
        </div>
        Sign In
      </span> -->
    </span>

    <div class="HeaderMenu_burgerBlock">
      <input
        type="checkbox"
        id="burger"
        name="burger"
        data-name="HeaderMenuBurger" />
      <label class="HeaderMenu_burger" for="burger">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </div>
  <div class="HeaderMenu_linksBlockMobile">
    <div class="HeaderMenu_linksMobile">
      <div class="HeaderMenu_linkMobile __mobile-accent-2">
        <a href="#benefits" name-link data-scroll="instant"> Benefits </a>
      </div>
      <div class="HeaderMenu_linkMobile __mobile-accent-2">
        <a href="#employers" name-link data-scroll="instant"> For Employers </a>
      </div>
      <div class="HeaderMenu_linkMobile __mobile-accent-2">
        <a href="#etz-mobile" name-link data-scroll="instant"> ETZ Mobile </a>
      </div>
      <div class="HeaderMenu_linkMobile __mobile-accent-2">
        <a href="#crypto" name-link data-scroll="instant">
          Supported Cryptos
        </a>
      </div>
    </div>
    <div class="HeaderMenu_buttonsMobile">
      <a href="#contact-us" name-link data-scroll="instant">
        <span class="HeaderMenu_headerGetStarted Button Button__secondary">
          Join the Waitlist
        </span>
      </a>
    </div>
  </div>

  <lottie-player
    src="/leaves/Leaves_web.json"
    class="Loader_leaves Loader_leaves__web HeaderMenu_overflow"
    background="transparent"
    speed="1"
    loop
    autoplay></lottie-player>
</header>
