<header class="HeaderMenu_menu __sidePadding">
  <div class="HeaderMenu_menuContainer">
    <a href="#header" name-link>
      <span class="HeaderMenu_logoDark">
        <img src="../assets/logo-dark.svg" />
      </span>
      <span class="HeaderMenu_logoLight">
        <img src="../assets/logo-light.svg" />
      </span>
    </a>
    <div class="HeaderMenu_links">
      <div id="HeaderMenu_links">
        <div class="HeaderMenu_link dropdown">
          <button class="dropbtn">Who We Serve</button>
          <div class="dropdown-content">
            <a href="/" name-native-link>For Individuals</a>
            <a href="./founders.html" name-native-link>For Founders</a>
            <a href="./employers.html" name-native-link>For Employers</a>
          </div>
        </div>
        <div class="HeaderMenu_link">
          <a href="./assets.html" name-native-link>
            <span class="HeaderMenu_linkText__black">Assets</span>
          </a>
        </div>
        <div class="HeaderMenu_link">
          <a href="./blog.html" name-native-link>
            <span class="HeaderMenu_linkText__black">Blog</span>
          </a>
        </div>
      </div>
      <div class="HeaderMenu_dashContainer">
        <div class="HeaderMenu_dash"></div>
      </div>
    </div>
    <span class="HeaderMenu_initial">
      <!-- Removed Get Free Employer DEMO button -->
      <a href="https://etz.app.link/Cr4ocrtxTKb" name-link>
        <span
          class="HeaderMenu_headerGetStarted Button Button__whitePrimary"
          name-button-join>
          Open Individual IRA
        </span>
      </a>
      <!-- <span class="HeaderMenu_buttonLink">
        <div class="HeaderMenu_buttonIcon HeaderMenu_entryIconDark">
          <include src="assets/entry-dark.svg"> </include>
        </div>
        <div class="HeaderMenu_buttonIcon HeaderMenu_entryIconLight">
          <include src="assets/entry-light.svg"> </include>
        </div>
        Sign In
      </span> -->
    </span>
  </div>
</header>
