<header class="HeaderMenu_menu __sidePadding">
  <div class="HeaderMenu_menuContainer">
    <a href="#header" name-link>
      <span class="HeaderMenu_logoDark">
        <img src="assets/logo-dark.svg" />
      </span>
      <span class="HeaderMenu_logoLight">
        <img src="assets/logo-light.svg" />
      </span>
    </a>
    <div class="HeaderMenu_links">
      <div id="HeaderMenu_links">
        <div class="HeaderMenu_link">
          <a href="#benefits" name-link class="HeaderMenu_link">
            <span class="HeaderMenu_linkText__black">Benefits</span>
            <span class="HeaderMenu_linkText__primary">Benefits</span>
          </a>
        </div>
        <div class="HeaderMenu_link">
          <a href="#employers" name-link class="HeaderMenu_link">
            <span class="HeaderMenu_linkText__black">For Employers</span>
            <span class="HeaderMenu_linkText__primary">For Employers</span>
          </a>
        </div>
        <div class="HeaderMenu_link">
          <a href="#etz-mobile" name-link class="HeaderMenu_link">
            <span class="HeaderMenu_linkText__black">ETZ Mobile</span>
            <span class="HeaderMenu_linkText__primary">ETZ Mobile</span>
          </a>
        </div>
        <div class="HeaderMenu_link">
          <a href="#crypto" name-link class="HeaderMenu_link">
            <span class="HeaderMenu_linkText__black">Supported Cryptos</span>
            <span class="HeaderMenu_linkText__primary">Supported Cryptos</span>
          </a>
        </div>
      </div>

      <div class="HeaderMenu_dashContainer">
        <div class="HeaderMenu_dash"></div>
      </div>
    </div>
    <span class="HeaderMenu_initial">
      <a
        href="https://calendly.com/nash-etz/30min"
        target="_blank"
        class="HeaderMenu_link">
        <span
          class="HeaderMenu_headerGetFreeDemo Button Button__whiteSecondary"
          name-button-demo>
          Get Free DEMO
        </span>
      </a>
      <a href="#contact-us" name-link class="HeaderMenu_link">
        <span
          class="HeaderMenu_headerGetStarted Button Button__whitePrimary"
          name-button-join>
          Join the Waitlist
        </span>
      </a>
      <!-- <span class="HeaderMenu_buttonLink">
        <div class="HeaderMenu_buttonIcon HeaderMenu_entryIconDark">
          <include src="assets/entry-dark.svg"> </include>
        </div>
        <div class="HeaderMenu_buttonIcon HeaderMenu_entryIconLight">
          <include src="assets/entry-light.svg"> </include>
        </div>
        Sign In
      </span> -->
    </span>
  </div>
</header>
