<article class="BenefitsSection __section __sidePadding" id="benefits">
  <section class="BenefitsSection_container __container">
    <span class="BenefitsSection_title __subtitle-2">Benefits</span>
    <h2>Key Advantages</h2>

    <div class="BenefitsSection_viewSlider">
      <div class="BenefitsSection_shadow"></div>
      <div class="BenefitsSection_shadow"></div>
      <div class="BenefitsSection_slideContainer">
        <div class="BenefitsSection_slide BenefitsSection_slide__shown">
          <img class="BenefitsSection_slideImg" src="assets/icon-slide-1.svg" />
          <span class="__subtitle-1">
            1-6% APY on select coins and USD
            <span class="BenefitsSection_text__gray"> — Coming soon! </span>
          </span>
        </div>
        <div class="BenefitsSection_slide">
          <img class="BenefitsSection_slideImg" src="assets/icon-slide-1.svg" />
          <span class="__subtitle-1">
            All transactions are tax free* in an IRA
          </span>
        </div>
        <div class="BenefitsSection_slide">
          <img class="BenefitsSection_slideImg" src="assets/icon-slide-1.svg" />
          <span class="__subtitle-1">
            Offline cold storage through Coinbase
          </span>
        </div>
        <div class="BenefitsSection_slide">
          <img class="BenefitsSection_slideImg" src="assets/icon-slide-1.svg" />
          <span class="__subtitle-1">Human support</span>
        </div>

        <div class="BenefitsSection_slide">
          <img class="BenefitsSection_slideImg" src="assets/icon-slide-1.svg" />
          <span class="__subtitle-1">
            50+ digital assets with 24/7 trading access
          </span>
        </div>
      </div>
      <div class="BenefitsSection_dots">
        <img class="BenefitsSection_dot" src="assets/dot-primary.svg" />
        <img class="BenefitsSection_dot" src="assets/dot-gray.svg" />
        <img class="BenefitsSection_dot" src="assets/dot-gray.svg" />
        <img class="BenefitsSection_dot" src="assets/dot-gray.svg" />
        <img class="BenefitsSection_dot" src="assets/dot-gray.svg" />
      </div>
    </div>
  </section>
</article>
