<article
  class="BenefitsSection __section __sidePadding"
  id="benefits"
  data-name="Section"
  name-benefits-section>
  <section class="BenefitsSection_container __container">
    <span class="BenefitsSection_title __subtitle-2">Benefits</span>
    <h2>Key Advantages</h2>

    <div class="BenefitsSection_viewSlider" data-name="BenefitsSlider">
      <div class="BenefitsSection_shadow"></div>
      <div class="BenefitsSection_shadow"></div>
      <div
        class="BenefitsSection_slideContainer"
        name-benefits-slider-container>
        <div
          class="BenefitsSection_slide BenefitsSection_slide__shown"
          name-benefits-slide>
          <img class="BenefitsSection_slideImg" src="assets/icon-slide-1.svg" />
          <span class="__subtitle-1">
            Earn interest on select coins and USD
            <span class="BenefitsSection_text__gray"> — Coming soon! </span>
          </span>
        </div>
        <div class="BenefitsSection_slide" name-benefits-slide>
          <img class="BenefitsSection_slideImg" src="assets/icon-slide-2.svg" />
          <span class="__subtitle-1">
            All transactions are tax free* in an IRA
          </span>
        </div>
        <div class="BenefitsSection_slide" name-benefits-slide>
          <img class="BenefitsSection_slideImg" src="assets/icon-slide-3.svg" />
          <span class="__subtitle-1">
            We provide institutional grade storage of your crypto to ensure your
            retirement savings are secure
          </span>
        </div>
        <div class="BenefitsSection_slide" name-benefits-slide>
          <img class="BenefitsSection_slideImg" src="assets/icon-slide-4.svg" />
          <span class="__subtitle-1">Human support</span>
        </div>

        <div class="BenefitsSection_slide" name-benefits-slide>
          <img class="BenefitsSection_slideImg" src="assets/icon-slide-5.svg" />
          <span class="__subtitle-1">
            ETZ is the only business focused crypto IRA platform on the market
          </span>
        </div>
      </div>
      <div class="BenefitsSection_dots" name-benefits-slider-dots-container>
        <!-- <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span>
        <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span>
        <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span>
        <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span>
        <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span>
        <span class="BenefitsSection_dot" data-name="BenefitsSliderDot"></span> -->
      </div>
    </div>
  </section>
</article>
