@media screen and (max-width: 768px),
  (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape),
  (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
  (max-width: 1000px) and (orientation: landscape) {
  .HeaderMenu_burgerBlock {
    display: initial;
  }

  .HeaderSection_menu {
    box-sizing: content-box;
    height: 32px;
    min-height: 32px;
    margin: 20px 16px;
  }

  .HeaderMenu_overflow {
    position: absolute;
    z-index: -1;

    height: 100vh;

    pointer-events: none;
    /* background-image: var(--pattern-svg);
    background-position: right;
    background-size: 100vh; */

    touch-action: none;
  }

  .HeaderMenu_menu {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100%;

    inset: 0;
  }

  .HeaderMenu_menuContainer {
    display: flex;
    justify-content: space-between;

    width: 100vw;
    height: 32px;
    margin: 20px 0;
    padding: 0 16px;
  }

  .HeaderMenu_menuContainer__open {
    background-color: var(--primary);
  }

  .HeaderMenu_menuContainer__open .HeaderMenu_linksBlockMobile {
    display: flex;
  }

  .HeaderMenu_menuContainer__open .HeaderMenu_overflow {
    display: initial;
  }

  .HeaderMenu_links {
    display: none;
  }

  .HeaderMenu_initial {
    display: none;
  }

  .HeaderMenu_entryIconDark {
    display: none;
  }

  .HeaderMenu_logoDark {
    display: none;
  }

  .HeaderMenu_burgerBlock {
    position: relative;
  }

  .HeaderMenu_burgerBlock,
  .HeaderMenu_burgerBlock input {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;

    border: none;
    outline: none;
  }

  .HeaderMenu_burgerBlock input {
    z-index: -999;

    margin: 0;

    opacity: 0;
  }

  .HeaderMenu_burger {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 5px 1px;

    cursor: pointer;
  }

  .HeaderMenu_burger span {
    min-width: 100%;
    height: 2.5px;

    transition: all 300ms ease;

    border-radius: 8px;
    background-color: var(--bright);
  }

  .HeaderMenu_burgerBlock
    > input:checked
    + .HeaderMenu_burger
    span:first-child {
    transform: rotate(-45deg) translate(-7px, 8px);
  }

  .HeaderMenu_burgerBlock
    > input:checked
    + .HeaderMenu_burger
    span:nth-child(2) {
    opacity: 0;
  }

  .HeaderMenu_burgerBlock > input:checked + .HeaderMenu_burger span:last-child {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .HeaderMenu_linksBlockMobile {
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    height: calc(100vh - 175px);
  }

  .HeaderMenu_linksMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    margin: 0 16px;
  }

  .HeaderMenu_linkMobile {
    margin-bottom: 40px;
  }

  .HeaderMenu_linkMobile:last-child {
    margin-bottom: 0;
  }

  .HeaderMenu_buttonsMobile {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 40px 0;
  }
}

@media screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape),
  (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
  (max-width: 1000px) and (orientation: landscape) {
  .HeaderMenu_menuContainer__open .HeaderMenu_linksBlockMobile {
    padding: 0 48px;
  }
  .HeaderMenu_menuContainer {
    padding: 0 48px;
  }
  .HeaderMenu_linkMobile {
    margin-bottom: 10px;
  }
}
