<article class="EtzMobileSection __sidePadding __section" id="etz-mobile">
  <div class="EtzMobileSection_block __container">
    <section class="EtzMobileSection_description">
      <span class="ForEmployersSection_title __subtitle-2">ETZ Mobile</span>
      <h2 class="EtzMobileSection_title">Invest Platform Mobile App</h2>
      <span class="EtzMobileSection_text __subtitle-1"
        >Invest in a large selection of cryptocurrencies through our mobile
        app.</span
      >
      <button class="Button Button__primary EtzMobileSection_button">
        Download App
        <img src="assets/path.svg" class="EtzMobileSection_arrow" />
      </button>
    </section>
    <section class="EtzMobileSection_picture">
      <img src="assets/coin.svg" class="EtzMobileSection_coin" />
      <img
        src="assets/mobile-1.svg"
        class="EtzMobileSection_mobile EtzMobileSection_mobile__front"
      />
      <img
        src="assets/mobile-2.svg"
        class="EtzMobileSection_mobile EtzMobileSection_mobile__buy"
      />
    </section>
  </div>
</article>
