<article
  class="EtzMobileSection __sidePadding __section"
  id="etz-mobile"
  data-name="Section"
  name-etz-mobile-section>
  <div class="EtzMobileSection_block __container">
    <picture>
      <source
        media="(min-width: 768px) and (max-width: 1200px)"
        srcset="../assets/pattern_tablet.svg" />
      <source
        media="(max-width: 768px)"
        srcset="../assets/pattern_mobile.svg" />
      <lottie-player
        src="/leaves/Leaves_web.json"
        class="Loader_leaves Loader_leaves__web EtzMobileSection_pattern"
        background="transparent"
        speed="1"
        loop
        autoplay></lottie-player>
    </picture>
    <section class="EtzMobileSection_description">
      <span class="EtzMobileSection_title __subtitle-2">ETZ Mobile</span>
      <h2 class="EtzMobileSection_subTitle">Investment Platform</h2>
      <div class="EtzMobileSection_textContainer">
        <span class="EtzMobileSection_text __subtitle-1">
          Trade digital assets inside your retirement account 24/7 through our
          mobile app.
        </span>
        <span class="EtzMobileSection_text __subtitle-1">
          (Coming soon) Trade stocks from within the app too.
        </span>
      </div>
      <!-- Hidden for ETZ-404-->
      <!-- <button class="Button Button__primary EtzMobileSection_button">
        Download App
        <img src="assets/path.svg" class="EtzMobileSection_arrow" />
      </button> -->
    </section>
    <section class="EtzMobileSection_mobiles">
      <img src="../assets/phone_coins.png" class="EtzMobileSection_img" />
      <img
        src="../assets/coins/ada.png"
        class="EtzMobileSection_coin EtzMobileSection_ada" />
      <img
        src="../assets/coins/avax.png"
        class="EtzMobileSection_coin EtzMobileSection_avax" />
      <img
        src="../assets/coins/bnb.png"
        class="EtzMobileSection_coin EtzMobileSection_bnb" />
      <img
        src="../assets/coins/btc.png"
        class="EtzMobileSection_coin EtzMobileSection_btc" />
      <img
        src="../assets/coins/eth.png"
        class="EtzMobileSection_coin EtzMobileSection_eth" />
      <img
        src="../assets/coins/ftm.png"
        class="EtzMobileSection_coin EtzMobileSection_ftm" />
      <img
        src="../assets/coins/sol.png"
        class="EtzMobileSection_coin EtzMobileSection_sol" />
      <img
        src="../assets/coins/usdc.png"
        class="EtzMobileSection_coin EtzMobileSection_usdc" />
    </section>
  </div>
</article>
