<article
  class="EtzMobileSection __sidePadding __section"
  id="etz-mobile"
  data-name="Section">
  <div class="EtzMobileSection_block __container">
    <img data-src="/pattern-2.svg" class="EtzMobileSection_pattern" />
    <section class="EtzMobileSection_description">
      <span class="EtzMobileSection_title __subtitle-2">ETZ Mobile</span>
      <h2 class="EtzMobileSection_subTitle">Investment Platform</h2>
      <span class="EtzMobileSection_text __subtitle-1">
        Trade crypto inside your retirement account 24/7 through our proprietary
        mobile app.
      </span>
      <!-- Hidden for ETZ-404-->
      <!-- <button class="Button Button__primary EtzMobileSection_button">
        Download App
        <img data-src="/path.svg" class="EtzMobileSection_arrow" />
      </button> -->
    </section>
    <section class="EtzMobileSection_mobiles">
      <img data-src="/phone_coins.png" class="EtzMobileSection_img" />
      <img
        data-src="/coins/ada.png"
        class="EtzMobileSection_coin EtzMobileSection_ada" />
      <img
        data-src="/coins/avax.png"
        class="EtzMobileSection_coin EtzMobileSection_avax" />
      <img
        data-src="/coins/bnb.png"
        class="EtzMobileSection_coin EtzMobileSection_bnb" />
      <img
        data-src="/coins/btc.png"
        class="EtzMobileSection_coin EtzMobileSection_btc" />
      <img
        data-src="/coins/eth.png"
        class="EtzMobileSection_coin EtzMobileSection_eth" />
      <img
        data-src="/coins/ftm.png"
        class="EtzMobileSection_coin EtzMobileSection_ftm" />
      <img
        data-src="/coins/sol.png"
        class="EtzMobileSection_coin EtzMobileSection_sol" />
      <img
        data-src="/coins/usdc.png"
        class="EtzMobileSection_coin EtzMobileSection_usdc" />
    </section>
  </div>
</article>
